/*CLASES PARA EL HEADER*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 50px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #e9bf8b;
}

.user img {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

